redis_console.deps.json
redis_console.dll
redis_console.pdb
redis_console.runtimeconfig.dev.json
redis_console.runtimeconfig.json
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
redis_console.AssemblyInfo.cs
redis_console.AssemblyInfoInputs.cache
redis_console.assets.cache
redis_console.csproj.CoreCompileInputs.cache
redis_console.csproj.FileListAbsolute.txt
redis_console.csprojAssemblyReference.cache
project.assets.json
redis_console.csproj.nuget.cache
redis_console.csproj.nuget.g.props
redis_console.csproj.nuget.g.targets
