@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Redis Test</h1>
</div>

@section Scripts{
    <script>
        var url = '/api/redis/message';
        var data = {
            Message: "Hello World!",
            ExtraStuff: {
                More: "Stuff"
            }
        };

        $.get(url,
            function(response) {
                var message = JSON.parse(response);
                console.log(message);

                $.ajax({
                    url: url,
                    type: "PUT",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function() {
                        console.log(response);

                        $.get(url,
                            function(response) {
                                var message = JSON.parse(response);
                                console.log(message);
                            }
                        );
                    },
                    error: function(response) {
                        console.error(response);
                    }
                });
            }
        );
    </script>
}